/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/
/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors */
:root {
  --background-color: #ffffff;
  --default-color: #272829;
  --heading-color: #050d18;
  --accent-color: #149ddd;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}

/* Nav Menu Colors */
:root {
  --nav-color: #a8a9b4;
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #040b14;
  --nav-dropdown-background-color: #040b14;
  --nav-dropdown-color: #a8a9b4;
  --nav-dropdown-hover-color: #ffffff;
}

/* Color Presets */
.light-background {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #040b14;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
  flex: 1;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


main.main {
  flex: 1; /* Isso empurra o footer pra base da tela */
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.section-title h2 {
  position: relative;
  padding-bottom: 10px;
  font-weight: 700;
}

.resume-title {
  position: relative;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 1.8rem; /* ajuste conforme precisar */
  color: var(--heading-color);
}

.contact-title {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: -5px;
  font-weight: 600;
  font-size: 1.2rem; /* ajuste conforme precisar */
  color: var(--heading-color);
}

.section-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px; /* largura do traço */
  height: 4px;  /* altura do traço */
  background-color: var(--accent-color); /* cor azul */
  border-radius: 2px;
}


